body {
    /* height: fit-content;
    width: fit-content;
    background: #eff2e1;
    margin: 0;
    display: contents; */
    background: #eff2e1;
    margin: 0;
}

p {
    margin: 0;
}

button {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    content: "";
    width: 0.25rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #407e44;
    border-radius: 9999rem;
    height: 1.25rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}