.carouselImages {
    max-width: 100%;
    object-fit:contain;
}

.carouselContainer {
    background: white;
    border-radius: 30px; 
    width: calc(100% - 120px);
    display: flex; 
    overflow: hidden;
    margin: 60px;
}

.carouselImageContainer {
    width: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.carouselTextContainer {
    width: calc(50% - 120px); 
    padding: 60px;
    display: flex; 
    flex-direction: column;
    text-align: left;
}

@media screen and (min-width: 1000px) {
    .carouselImages {
        height: 400px;
        width: 400px;
        /* // object-fit: none; */
    }
}

@media screen and (max-width: 700px) {
    .carouselContainer {
        flex-direction: column;
    }

    .carouselImageContainer {
        width: calc(100% - 120px);
        padding: 60px;
    }
    .carouselTextContainer {
        width: calc(100% - 120px);
    }

}