.headerStyle {
    width: 100%;
    background: #f6eabd; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    transition: 0.2s;
    /* border-top-color: #407e44;
    border-top-width: 10px;
    border-top-style: solid;
    border-bottom-color: #407e44;
    border-bottom-width: 10px;
    border-bottom-style: solid; */
}

.logoHeader {
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
    /* border-color: #2a8130;
    border-width: 4px;
    border-style: solid; */
    border: none;
    cursor: pointer;
    height: calc(100% - 40px);
    width: 131px;
}

.optionsContainer {
    display: flex;
    flex-direction: row;
    height: 70px;
    margin-left: 40px;
}

.hiddenSpace {
    width: 170px;
}

@media screen and (max-width: 700px) {
    .logoHeader, .hiddenSpace {
        display: none;
    }
    .headerStyle {
        height: 171px;
    }
    .optionsContainer {
        margin-left: 0;
    }
    
}

.buttonHeader {
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    height: 100%;
    cursor: pointer;
    color: #404953;
}

.buttonHeader:hover {
    /* background: #f9d968; */
    border-top-color: #676767;
    border-top-style: solid;
    color: #676767;
}

.selected {
    border-top-color: #2a8130;
    border-top-style: solid;
    color: #2a8130;
}
